*.pyc
*.sqlite3
ppll/urls.pyc
ppll/settingc.pyc
ppll/__init__.pyc
ppll/wsgi.pyc
pyllik/fixtures/*.pyc
pyllik/fixtures/*.py
pyllik/migrations/*.pyc
pyllik/migrations/*.py

user/migrations/*.pyc
user/migrations/*.py
carga/logos_empresa/*.jpg
carga/logos_empresa/*.png
carga/logos_empresa/*.gif