{% extends "layout/base_admin.html" %}
{% block title %}
Agregar Paquete
{% endblock %}

{% block content %}
<script type="text/javascript">	
	$(function(){
		$("#id_precio, #id_porcentaje").change(function() {
			pre = $("#id_precio").val();
			por = $("#id_porcentaje").val();
			$("#id_pre_pago").val(pre*por/100);
		});
	});
	$(function(){
		$("#id_pre_pago").change(function() {
			pre = $("#id_precio").val();
			por = $("#id_pre_pago").val();
			$("#id_porcentaje").val(por*100/pre);
		});
	});
	$(function(){
		$("#id_sku").ready(function() {
			var str = "{{ultimo}}";
			var letra = str.substring(0,3);
			var nro = parseInt(str.substring(3,6))+1;
			var snro = String(nro);
			var ceros= "";
			for(var i= snro.length;i<3;i++){
				ceros=ceros+0;
			}
			var nro1 = ceros + snro;
			$("#id_sku").val(letra + nro1);
			var campo = document.getElementById('id_sku');
			campo.readOnly=true;
		});
	});	
	function valida(f) {
            var ok = true;
            var msg = "Falta llenar el contenido en los siguientes campos:\n"+"\n";
            var nombre="";
            for (var i = 0; i <= f.elements.length-2; i++) {
                nombre=f.elements[i].name+"\n";
                //var Per=nombre.substring(7,15);
                //Per=parseInt(Per)+1;
                if(f.elements[i].value == "" || f.elements[i].value=="0")
                {                    
                    var res = nombre;
                    msg += res;
                    ok = false;                    
                }
            }
            if(ok == false){
                alert(msg.toUpperCase()); 
                //$("#mensaje").val(msg.toUpperCase());
                //$("myAlert").value(msg);}
                //$("#myAlert").alert()
                
            }
            return ok;
          
        };

</script>

<form action="" method="POST" onsubmit="return valida(this)">
	{%csrf_token%}
	<table width="40%">
    	<tbody>
    		{{formAgregar.as_table}}
    	</tbody>
    </table>   
    <br><br> 

  <!-- <div class="alert alert-danger" id="myAlert">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> Ocurrio un error al mandar sus datos.
    </div>
-->
    <button type= "submit" class="btn btn-primary"> Añadir Paquete</button>
    <button type= "reset" class="btn btn-primary"> Limpiar</button>
</form>
{% endblock%}
