{% extends "layout/base_admin.html" %}
{% block title %}
Agregar Paquete
{% endblock %}

{% block content %}
<script type="text/javascript">	
	$(function(){
		$("#id_precio, #id_porcentaje").change(function() {
			pre = $("#id_precio").val();
			por = $("#id_porcentaje").val();
			$("#id_pre_pago").val(pre*por/100);
		});
	});
	$(function(){
		$("#id_pre_pago").change(function() {
			pre = $("#id_precio").val();
			por = $("#id_pre_pago").val();
			$("#id_porcentaje").val(por*100/pre);
		});
	});
	$(function(){
		$("#id_sku").ready(function() {
			$("#id_sku").val("INK001");
		});
	});
</script>

<form action="" method="POST">
	{%csrf_token%}
    {{formAgregar.as_p}}
    <button type= "submit" class="btn btn-primary"> Añadir Paquete</button>
    <button type= "reset" class="btn btn-primary"> Limpiar</button>
</form>
{% endblock%}
