{% extends "layout/base_admin.html" %}
{% block title %}
Agregar Paquete
{% endblock %}

{% block content %}
<script type="text/javascript">	
	$(function(){
		$("#id_precio, #id_porcentaje").change(function() {
			pre = $("#id_precio").val();
			por = $("#id_porcentaje").val();
			$("#id_pre_pago").val(pre*por/100);
		});
	});
	$(function(){
		$("#id_pre_pago").change(function() {
			pre = $("#id_precio").val();
			por = $("#id_pre_pago").val();
			$("#id_porcentaje").val(por*100/pre);
		});
	});
	$(function(){
		$("#id_sku").ready(function() {
			var str = "{{ultimo}}";
			var letra = str.substring(0,3);
			var nro = parseInt(str.substring(3,6))+1;
			var snro = String(nro);
			var ceros= "";
			for(var i= snro.length;i<3;i++){
				ceros=ceros+0;
			}
			var nro1 = ceros + snro;
			$("#id_sku").val(letra + nro1);
			var campo = document.getElementById('id_sku');
			campo.readOnly=true;
		});
	});	
</script>

<form action="" method="POST">
	{%csrf_token%}
    {{formAgregar.as_p}}
    <button type= "submit" class="btn btn-primary"> Añadir Paquete</button>
    <button type= "reset" class="btn btn-primary"> Limpiar</button>
</form>
{% endblock%}
