{% extends "layout/base_admin.html" %}
{% block title %}Detalles{% endblock %}
{% block content %}
<table class="table table-striped">
    <tr>
        <td width="150"><b>Nombre:</b></td>
        <td>{{paquete.nombre}}</td>
    </tr>
    <tr>
        <td><b>Precio:</b></td>
        <td>{{paquete.precio}}</td>
    </tr>
    <tr>
        <td><b>Pre Pago:</b></td>
        <td>{{paquete.pre_pago}}</td>
    </tr>
    <tr>
        <td><b>Porcentaje:</b></td>
        <td>{{paquete.porcentaje}}</td>
    </tr>
    <tr>
        <td><b>estado:</b></td>
        <td>{{paquete.estado}}</td>
    </tr>
    <tr>
        <td><b>link:</b></td>
        <td>{{paquete.link}}</td>
    </tr>
    <tr>
        <td><b>creado:</b></td>
        <td>{{paquete.creado}}</td>
    </tr>
    <tr>
        <td><b>detalle:</b></td>
        <td>{{paquete.descripcion}}</td>
    </tr>
</table>
<p><a href="/empresa/paquete/edit/{{paquete.id}}" class="btn btn-primary">Editar</a> </p>
{% endblock%}