{% extends "layout/base_admin.html" %}
{% block title %}Detalles{% endblock %}
{% block content %}
<table class="table table-striped">
    <tr>
        <td><b>SKU:</b></td>
        <td>{{obj.sku}}</td>
    </tr>
    <tr>
        <td width="150"><b>Nombre:</b></td>
        <td>{{obj.nombre}}</td>
    </tr>
    <tr>
        <td><b>Precio:</b></td>
        <td>{{obj.precio}}</td>
    </tr>
    <tr>
        <td><b>Pre Pago:</b></td>
        <td>{{obj.pre_pago}}</td>
    </tr>
    <tr>
        <td><b>Porcentaje:</b></td>
        <td>{{obj.porcentaje}}</td>
    </tr>
    <tr>
        <td><b>estado:</b></td>
        <td>{{obj.estado}}</td>
    </tr>
    <tr>
        <td><b>Link:</b></td>
        <td>{{obj.link}}</td>
    </tr>
    <tr>
        <td><b>creado:</b></td>
        <td>{{obj.creado}}</td>
    </tr>
    <tr>
        <td><b>detalle:</b></td>
        <td>{{obj.descripcion|safe }}</td>
    </tr>
</table>
<p><a href="/empresa/paquete/edit/{{obj.id}}" class="btn btn-primary">Editar</a> </p>
{% endblock%}