{% extends "layout/base_admin.html" %}
{% block title %}Editar Paquetes{% endblock %}

{% block content %}
<script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>
<script type="text/javascript">
	$(function(){
		$("#id_precio, #id_porcentaje").change(function() {
			pre = $("#id_precio").val();
			por = $("#id_porcentaje").val();
			$("#id_pre_pago").val(pre*por/100);
		});

		$("#id_pre_pago").change(function() {
			pre = $("#id_precio").val();
			por = $("#id_pre_pago").val();
			$("#id_porcentaje").val(por*100/pre);
		});

    $('#id_nombre, #id_precio, #id_porcentaje, #id_pre_pago, #id_descripcion, #id_link, #id_estado').after('<span class="ayuda glyphicon glyphicon-question-sign "> </span>');
    $('.ayuda').hover(function(){
        $(this).next('.help-block').toggle("linear");
    })

		$("#id_sku").ready(function() {
		var campo = document.getElementById('id_sku');
			campo.readOnly=true;
		});
	});

</script>
{% load bootstrap %}
<div class="row">
    <div class="col-lg-8">
        <form action="" method="POST" id="form">
            {%csrf_token%}
            {{form|bootstrap_horizontal}}
            <p align="right"><button type= "submit" class="btn btn-success"> Guardar</button>
        <button type= "reset" class="btn btn-warning"> Limpiar</button> </p>
        </form>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
 $('#form').validate({
  errorElement: "span",
  rules: {
      nombre: {
        minlength: 2,
          required: true
      },
      precio: {
          required: true
      },
      porcentaje: {
          required: true
      },
      pre_pago: {
          required: true
      },
      descripcion: {
          required: true
      }
  },
  highlight: function(element) {
   $(element).closest('.form-group')
   .removeClass('has-success').addClass('has-error');
  },
  success: function(element) {
   element
   .addClass('help-inline')
   .closest('.form-group')
   .removeClass('has-error').addClass('has-success');
  }
 });
});
</script>
{% endblock%}
