{% extends "layout/base_admin.html" %}
{% block title %}Paquetes{% endblock %}
{% block options %}
    <li><a href="paquete/add">Nuevo</a></li>
    <li class="active">Listar</li>
{% endblock %}
{% block content %}
	<table class="table table-striped">
    <thead>
      <tr>
        <th>SKU</th>
        <th>Nombre</th>
        <th>Precio (Dolares)</th>
        <th>Adelanto de Reserva (Dolares)</th>
        <th>Descripción</th>
        <th width="90px">Creado</th>
        <th width="100px">Accion</th>
      </tr>
    </thead>
		{% for paquete in objs %}
			<tr>
            <td><a href="paquete/detail/{{paquete.id}}">{{paquete.sku}}</a></td>
      			<td><a href="paquete/detail/{{paquete.id}}">{{paquete.nombre}}</a></td>
            <td>USD <b>{{paquete.precio}}</b></td>
      			<td>USD <b>{{paquete.pre_pago}}</b></td>
      			<td>{{paquete.descripcion|safe }}</td>
      			<td>{{paquete.creado|date:"Y-m-d"}}</td>
            <td align="center"> {% ifequal paquete.estado True %}
                   <a href="#" title="Habilitado" style="color:green"><span class="glyphicon glyphicon-ok-sign"></span></a>
                {% else %} <a href="#" title="Desabilitado" style="color:red"><span class="glyphicon glyphicon-remove-sign"></span></a>
                {% endifequal %}
                <a href="paquete/edit/{{paquete.id}}" title="Editar"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><a/>  <a href="/reservar/paquete/{{paquete.sku}}" title="Verificar"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><a/></td>
      		</tr>
		{% endfor %}
	</table>
  <nav>
  <ul class="pagination">
    {% if objs.has_previous %}
    <li>
      <a href="?page={{ objs.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">Anterior</span>
      </a>
    </li>
    {% endif %}
    {% for item in objs.paginator.page_range %}
    {% ifequal item objs.number %}
      <li  class="active"><a href="?page={{ item }}" >{{item }}</a></li>
    {% else %}
      <li ><a href="?page={{ item }}" >{{item }}</a></li>
    {% endifequal %}
    {% endfor %}
    {% if objs.has_next %}
    <li>
      <a href="?page={{ objs.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">Siguiente</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock%}