{% extends "layout/base_admin.html" %}
{% block title %}Listar Paquetes{% endblock %}
{% block content %}
<script type="text/javascript">
  function desactiva()
  {
    document.nombreform.nombreboton.disabled=true;
    document.nombreform.nombreboton.disabled=true;
  }
</script>
	<table class="table table-bordered table-condesed table-hover">
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Adelanto</th>
        <th>Descripción</th>
        <th>Creado</th>
        <th>Estado Paquete</th>
        <th>Editar Paquete</th>
    </tr>
		{% for paquete in objs %}
			<tr>
      			<td><a href="paquete/detail/{{paquete.id}}">{{paquete.nombre}}</a></td>
            <td>{{paquete.precio}}</td>
      			<td>{{paquete.pre_pago}}</td>
      			<td>{{paquete.descripcion}}</td>
      			<td>{{paquete.creado}}</td>
                {% ifequal paquete.estado True %}

                   <td><label style="color:blue">Paquete Habilitado</label> <a href="/reservar/paquete/{{ paquete.id }}">Reservar</a></td>
                {% else %}
                  <td><label style="color:red">Paquete Desabilitado</label></td>
                {% endifequal %}
                {%if user.is_authenticated%}
      			<td><a href="paquete/edit/{{paquete.id}}">Editar<a/></td>
                {% endif %}
      		</tr>
		{% endfor %}
	</table>
{% endblock%}