{% extends "layout/base_admin.html" %}
{% block title %}Listar Paquetes{% endblock %}
{% block content %}
<script type="text/javascript">
  function desactiva()
  {
    document.nombreform.nombreboton.disabled=true;
    document.nombreform.nombreboton.disabled=true;
  }
</script>
	<table class="table table-bordered table-condesed table-hover">
      <tr>
        <th>SKU</th>
        <th>Nombre</th>
        <th>Precio ($)</th>
        <th>Adelanto de Reserva ($)</th>
        <th>Descripción</th>
        <th>Fecha de Creación</th>
        <th>Estado Paquete</th>
        <th>Editar Paquete</th>
    </tr>
		{% for paquete in objs %}
			<tr>
            <td><a href="paquete/detail/{{paquete.id}}">{{paquete.sku}}</a></td>
      			<td><a href="paquete/detail/{{paquete.id}}">{{paquete.nombre}}</a></td>
            <td>{{paquete.precio}}</td>
      			<td>{{paquete.pre_pago}}</td>
      			<td>{{paquete.descripcion}}</td>
      			<td>{{paquete.creado}}</td>
                {% ifequal paquete.estado True %}

                   <td><label style="color:blue">Habilitado</label> <a href="/reservar/paquete/{{paquete.sku}}">Reservar</a></td>
                {% else %}
                  <td><label style="color:red">Desabilitado</label></td>
                {% endifequal %}
                {%if user.is_authenticated%}
                <td align="center"><a href="paquete/edit/{{paquete.id}}"><img src="/assets/images/pencil_go.png"/><a/></td>
                {% endif %}
      		</tr>
		{% endfor %}
	</table>
{% endblock%}