{% extends "layout/base_admin.html" %}
{% block title %}Viajeros{% endblock %}
{% block content %}
{%if objs%}
	<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Apellidos y Nombre(s) </th>
        <th>Documento</th>
        <th>E-mail</th>
        <th>Pais</th>
      </tr>
    </thead>
		{% for obj in objs %}
			<tr>
        <td><a href="/empresa/persona/detail/{{obj.id}}"><b>{{obj.apellidos}} </b> {{obj.nombre}}</a></td>
        <td>{{obj.get_doc_tipo_display}} <b>{{obj.doc_nro}}</b></td>
        <td>{{obj.email}}</td>
        <td>{{obj.pais}}</td>
      </tr>
		{% endfor %}
	</table>
  <nav>
  <ul class="pagination">
    {% if objs.has_previous %}
    <li>
      <a href="?page={{ objs.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">Anterior</span>
      </a>
    </li>
    {% endif %}
    {% for item in objs.paginator.page_range %}
    {% ifequal item objs.number %}
      <li  class="active"><a href="?page={{ item }}" >{{item }}</a></li>
    {% else %}
      <li ><a href="?page={{ item }}" >{{item }}</a></li>
    {% endifequal %}
    {% endfor %}
    {% if objs.has_next %}
    <li>
      <a href="?page={{ objs.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">Siguiente</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{%else%}
<div class="alert alert-danger">
 No se han encontrado viajeros registrados.
</div>
{% endif %}
{% endblock%}