{% extends 'layout/base_admin.html' %}
{% block content %}
    {% if form.errors %}
    
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Su nombre de usuario y la contraseña no coinciden.</strong> Por favor intenta otra vez.
    </div>
    {% endif %}


    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <input type="submit" class="btn btn-primary" value="login"/> <input type="hidden" name="next" value="{{ next }}"/>
    </form>

{% endblock %}