{% extends 'layout/base_admin.html' %}
{% block title %}Perfil{% endblock %}
{% block content %}
<p><b>Username: </b>{{ user.username }}</p>
<p><b>email: </b>{{ user.email }}</p>
<p><b>Nombres y Apellidos: </b>{{ user.first_name }} {{ user.last_name }}</p>
<p><b>Ultima ingreso: </b>{{ user.last_login }}</p>
<p><b>Miembro desde: </b>{{ user.date_joined }}</p>
<p><a href="/user/cambiar">Cambiar Contraseña</a> | <a href="/user/edit">Editar Informacón de usuario</a> | <a href="/empresa/information">Información de la empresa</a> | <a href="/user/logout">Salir</a> </p>
{% endblock %}
