{% extends 'layout/base.html' %}
{% block title %}Crear Cuenta{% endblock %}
{% block content %}
{% load bootstrap %}
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}
<div class="row">
    <div class="col-lg-9">
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            {{ form|bootstrap_horizontal:'col-lg-4'}}
            <p><input type="submit" class="btn btn-primary" value="Login"/></p>
        </form>
    </div>
</div>
{% endblock %}