body{
}
h1,.h1{
font-size: 22px;
}
#menu{
margin-bottom: 0px;
}
.form-group {
display: inline-block;
width: 100%;
}
span.ayuda {
position: absolute;
right: -10px;
top: 10px;
font-size: 1em;
color: #ed9c28;
cursor: pointer;
}
.has-error p.help-block,
p.help-block{
padding: 10px;
display: none;
position: absolute;
right: -10px;
background: #FFF7CF;
z-index: 100;
width: 200px;
top: 20px;
}
.has-error .error,
.has-error .help-block {
padding: 5px;
display: block;
position: static;
width: initial;
background: rgb(255, 219, 219);
margin-top: 5px;
color: red;
}
span.ayuda1{
	position: absolute;
	right: 200px;
	top: 150px;
	font-size: 1em;
	color: #ed9c28;
	cursor: pointer;
	display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.caja {
position: absolute;
top: 244px;
right: 339px;
 /*Para poder ubicar la info dentro de la caja*/
margin: 10px auto;
}
.caja img {
/*border:2px solid black;*/
  width: 15px;
  background: orangered;
}
.info {
width: 200px;
height: -10px;
position: absolute; /*Info sobre la imagen*/
top: 5%;
left: 10%; /*Desplazamos a partir de la esquina superior izquierda*/
zoom: 1;
filter: alpha(opacity=0); /*Opacidad Para IE */
opacity: 0; /*Inicialmente transparente */
padding: 5px;
color: white;
background: black;
-moz-transition:all ease .8s; /*Aplicamos una ligera transición*/
-webkit-transition:all ease .8s ;
transition:all ease .8s;
}
.caja:hover .info {
filter: alpha(opacity=80);
opacity: .8; /*Al hacer hover sobre la caja hacemos visible los datos*/
}
.head-content{
}
ul.tabs {
margin: 0px;
margin-top: 20px;
min-height: 37px;
}
ul.tabs li {
  float: left;
  margin: 0 5px 0 0; /* LTR */
  list-style: none;
}
ul.tabs li a{
  line-height: 2;
  padding:5px 10px;
  -khtml-border-radius-topleft: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -khtml-border-radius-topright: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #f0f0f0;
}
ul.tabs li a.active,
ul.tabs li a:hover {
  background-color: #f0f0f0;
}
hr.top{margin-top: 0px;}