body{
}
h1,.h1{
font-size: 25px;
margin-top: 5px;
}/*
a{
  color: rgb(190, 131, 22);
}
a:hover{
  color: rgb(156, 106, 14);
}*/
#menu{
}
#admin .nav-tabs>li{
    float: right;
}
#admin .form-group {
display: inline-block;
width: 100%;
}
#admin span.ayuda {
position: absolute;
right: -10px;
top: 10px;
font-size: 1em;
color: #ed9c28;
cursor: pointer;
}
#admin .has-error p.help-block,
#admin p.help-block{
padding: 10px;
display: none;
position: absolute;
right: -10px;
background: #FFF7CF;
z-index: 100;
width: 200px;
top: 20px;
}
#admin .has-error .error,
#admin .has-error .help-block {
padding: 5px;
display: block;
position: static;
width: initial;
background: rgb(255, 219, 219);
margin-top: 5px;
color: red;
}
#admin span.ayuda1{
	position: absolute;
	right: 200px;
	top: 150px;
	font-size: 1em;
	color: #ed9c28;
	cursor: pointer;
	display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

#admin .caja {
position: absolute;
top: 244px;
right: 339px;
 /*Para poder ubicar la info dentro de la caja*/
margin: 10px auto;
}
#admin .caja img {
/*border:2px solid black;*/
  width: 15px;
  background: orangered;
}
#admin .info {
width: 200px;
height: -10px;
position: absolute; /*Info sobre la imagen*/
top: 5%;
left: 10%; /*Desplazamos a partir de la esquina superior izquierda*/
zoom: 1;
filter: alpha(opacity=0); /*Opacidad Para IE */
opacity: 0; /*Inicialmente transparente */
padding: 5px;
color: white;
background: black;
-moz-transition:all ease .8s; /*Aplicamos una ligera transición*/
-webkit-transition:all ease .8s ;
transition:all ease .8s;
}
#admin .caja:hover .info {
filter: alpha(opacity=80);
opacity: .8; /*Al hacer hover sobre la caja hacemos visible los datos*/
}
#admin hr.top{margin-top: 0px;}
td.estado-1 {
background: rgb(255, 245, 213);
}
td.estado-2 {
background: rgb(219, 252, 189);
}
td.estado-3 {
background: rgb(248, 226, 230);
}


.ui-datepicker {
  background-color: #fff;
  border: 1px solid #66AFE9;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(102,175,233,.6);
  display: none;
  margin-top: 4px;
  padding: 10px;
  width: 240px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
  text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
  color: #2A6496;
  -webkit-transition: color 0.1s ease-in-out;
     -moz-transition: color 0.1s ease-in-out;
       -o-transition: color 0.1s ease-in-out;
          transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
  margin-bottom: 4px;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title {
  font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  cursor: default;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  height: 20px;
  line-height: 1;
  margin-top: 2px;
  width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
  float: left;
  text-align: left;
}
.ui-datepicker .ui-datepicker-next {
  float: right;
  text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
  content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
  content: "\e080";
}
.ui-datepicker .ui-icon {
  display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
  width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
  text-align: center;
  padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
  border-radius: 4px;
  -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
     -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
       -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
  background-color: #eee;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
  background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
  color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
  background-color: #fff;
  cursor: default;
}