body{
    padding-top: 70px;
}
.form-group {
display: inline-block;
width: 100%;
}
span.ayuda {
position: absolute;
right: -10px;
top: 10px;
font-size: 1em;
color: #ed9c28;
cursor: pointer;
}
.help-block{
display: none;
position: absolute;
right: -10px;
background: #FFF7CF;
z-index: 100;
padding: 10px;
width: 200px;
top: 20px;
}