{% extends "layout/base.html" %}
{% block title %}Información de la Empresa{% endblock %}
{% block content %}
<script type="text/javascript">
    $(function(){
        $("#id_web").change(function() {
            valor = $("#id_web").val();
            var valido=valor.substring(0,4);
            if(valido!="http"){
                var hh = "http://";
                $("#id_web").val(hh+valor);
            }
        });
        $("#id_terminos_condiciones").change(function() {
            valor = $("#id_terminos_condiciones").val();
            var valido=valor.substring(0,4);
            if(valido!="http"){
                var hh = "http://";
                $("#id_terminos_condiciones").val(hh+valor);
            }
        });
        $('#id_paypal_email, #id_paypal_at').after('<span class="ayuda glyphicon glyphicon-question-sign "> </span>');
        $('.ayuda').hover(function(){
            $(this).next('.help-block').toggle("linear");
        })
    });
    $(function(){
        $("#id_razon_social").change(function() {
            valor = $("#id_razon_social").val();
            var abres = $("#abres").val();
            if(abres!="si"){
                var razon = valor.substring(0,3);
                $("#id_abreviatura").val(razon.toUpperCase());
                $("#nro").val("2");
            }
            else
            {
                var caracter = valor.charAt(nro);
                var razon2 = valor.substring(0,2)+ caracter;
                $("#id_abreviatura").val(razon2.toUpperCase());
            }
        });
    });
    $(function(){
        $("#id_abreviatura").change(function() {
            valor = $("#id_abreviatura").val();
            $("#id_abreviatura").val(valor.toUpperCase());
        });
    });
    $(function(){
        $("#id_abreviatura").ready(function() {
            valor = $("#id_razon_social").val();
            var nro = $("#nro").val();
            var abres = $("#abres").val();
            if(abres=="si"){
                var caracter = valor.charAt(nro);
                var razon2 = valor.substring(0,2)+ caracter;
                $("#id_abreviatura").val(razon2.toUpperCase());
            }
        });
    });
</script>
{% load bootstrap %}
{% if abres %}
     <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Abreviatura ya existe...</strong> Por favor intenta otra vez.
    </div>
{% endif %}
<div class="row">
    <div class="col-lg-8">
        <form action="" method="POST" enctype='multipart/form-data' id="form">
            {%csrf_token%}
            {{form|bootstrap_horizontal}}
            <p>
            <input type="hidden" value="{{abres}}" id="abres">
            <input type="hidden" id="nro" value="{{nro}}" name="nro">
            <p align="right"><button type='submit' value='Guardar Empresa' class="btn btn-success">Guardar Empresa</button>
            <button type= "reset"class="btn btn-warning"> Limpiar</button></p></p>
        </form>
    </div>
</div>
<p><a href="/user/logout">Cerrar Sesión</a></p>
<script type="text/javascript">
$(document).ready(function(){
 $('#form').validate({
  errorElement: "span",
  rules: {
      rubro: {
        required: true
      },
      razon_social: {
        minlength: 3,
        required: true
      },
      ruc: {
        minlength: 11,
        maxlength: 11,
        required: true
      },
      direccion: {
        minlength: 3,
        required: true
      },
      abreviatura: {
        minlength: 3,
        maxlength: 3,
        required: true
      }
  },
  highlight: function(element) {
   $(element).closest('.form-group')
   .removeClass('has-success').addClass('has-error');
  },
  success: function(element) {
   element
   .addClass('help-inline')
   .closest('.form-group')
   .removeClass('has-error').addClass('has-success');
  }
 });
});
</script>
{% endblock%}