{% extends 'layout/base_admin.html' %}
{% block title %}Cambiar de Contraseña{% endblock %}
 {% block content %}
    <div class="container">
        <div class="col-lg-4">
          <form class="form-signin" method="post" action="" id="form">
            {% csrf_token %}
            <input type="hidden" id="username" class="form-control" name="username" value="{{user.username}}" readonly="readonly">
            <label>Contraseña actual</label>
            <div class="form-group">
            <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña Actual" name="password"  >
            </div>
            <label>Nueva contraseña</label>
            <div class="form-group">
            <input type="password" id="inputPassword1" class="form-control" placeholder="Ingrese Contraseña" name="newpassword1" required="True" ></div>
            <div class="form-group">
            <input type="password" id="inputPassword2" class="form-control" placeholder="Repita Contraseña" name="newpassword2" required="True" >
            </div>
            <input type="submit" class="btn btn-lg btn-success btn-block" value="Cambiar Contraseña"/>
            <input type="hidden" id="mensaje" name="mensaje" value="{{mensaje}}" />
            <input type="hidden" id="mensaje2" name="mensaje2"  />
          </form>
        </div>
    </div> <!-- /container -->
<script type="text/javascript">
$(document).ready(function(){
 $('#form').validate({
  errorElement: "span",
  rules: {
    password: {
        required: true
    },
    newpassword1: {
        required: true,
        minlength: 5
    },
    newpassword2: {
        required: true,
        minlength: 5,
        equalTo: "#inputPassword1"
    }
  },
  highlight: function(element) {
   $(element).closest('.form-group')
   .removeClass('has-success').addClass('has-error');
  },
  success: function(element) {
   element
   .addClass('help-inline')
   .closest('.form-group')
   .removeClass('has-error').addClass('has-success');
  }
 });
});
</script>
{% endblock %}