{% extends 'layout/base_admin.html' %}

{% block content %}
<dl class="dl-horizontal">
	<dt>Username: </dt>
	<dd>{{ user.username }}</dd>
	<dt>Email: </dt>
	<dd>{{ user.email }}</dd>
	<dt>Nombres y Apellidos: </dt>
	<dd>{{ user.first_name }} {{ user.last_name }}</dd>
	<dt>Ultima ingreso: </dt>
	<dd>{{ user.last_login }}</dd>
	<dt>Miembro desde: </dt>
	<dd>{{ user.date_joined }}</dd>
	<p><a href="/user/cambiar" class="btn btn-link ">Cambiar Contraseña</a> <a href="/user/edit" class="btn btn-link ">Editar Informacón de usuario</a> <a href="/empresa/information" class="btn btn-link ">Información de la empresa</a> <a href="/user/logout" class="btn btn-link "><span class="glyphicon glyphicon-off"></span> Salir</a> </p>
</dl>

{% endblock %}
