{% extends 'layout/base.html' %}
{% block title %}Crear Cuenta{% endblock %}
{% block content %}
{% load bootstrap %}
<div class="row">
    <div class="col-lg-9">
        <form method="post" action="{% url 'signup' %}" id="form">
            {% csrf_token %}
            {{ form|bootstrap_horizontal:'col-lg-4'}}
            <p><input type="submit" class="btn btn-primary" value="Crear cuenta"/></p>
        </form>
    </div>
</div>
<p><a href="/">Inicio</a> - <a href="/#contactenos">Contactenos</a></p>
<script type="text/javascript">
$(document).ready(function(){
 $('#form').validate({
  errorElement: "span",
  rules: {
      username: {
        required: true
      },
      password: {
        required: true
      },
      email: {
        email: true,
        required: true
      },
      first_name: {
        required: true
      },
      last_name: {
        required: true
      }
  },
  highlight: function(element) {
   $(element).closest('.form-group')
   .removeClass('has-success').addClass('has-error');
  },
  success: function(element) {
   element
   .addClass('help-inline')
   .closest('.form-group')
   .removeClass('has-error').addClass('has-success');
  }
 });
});
</script>
{% endblock %}