{% extends "layout/base_admin.html" %}
{% block title %}Reservas{% endblock %}
{% block options %}
    <li class="active"><a href="#">Listar</a></li>
{% endblock %}
{% block content %}
<script type="text/javascript">
    $(function() {
        $( "#id_fecha_viaje" ).datepicker(
          { dateFormat: "yy-mm-dd" ,minDate: 0 ,beforeShow: function() {
        setTimeout(function(){
            $('.ui-datepicker').css('z-index', 9999);
        }, 0);
    }});
  });
</script>
{% load bootstrap%}
  <form method="get" id="form" class="buscar">
  <div class="row">
    <div class="col-sm-3">
      {{form|bootstrap}}
    </div>
    <div class="col-sm-3">
        <p><a href="reservas">Todas</a></p>
  <input type="submit" class="btn btn-primary" value="Filtar">
    </div>
  </div>
  </form>
{% if objs %}
	<table class="table table-condesed table-hover">
      <tr>
        <th></th>
        <th>Fecha de Viaje</th>
        <th>Viaje en</th>
        <th>Paquete</th>
        <th>Viajeros</th>
        <th>E-mail</th>
        <th>Fecha de Reserva</th>
        <th>Estado pago</th>
        <th>Estado reserva</th>
    </tr>
		{% for reserva in objs %}
    <tr>
      <td><a href="/empresa/reserva/detail/{{reserva.id}}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
      <td>{{reserva.fecha_viaje|date:"Y-m-d"}}</td>
			<td>{{reserva.fecha_viaje|timeuntil}}</td>
			<td><a href="/empresa/paquete/detail/{{reserva.paquete.id}}">{{reserva.paquete}}</a></td>
			<td><a href="/empresa/reserva/detail/{{reserva.id}}#viajeros">{{reserva.cantidad_pasajeros}}</a></td>
			<td><a href="/empresa/cliente/detail/{{reserva.cliente.id}}">{{reserva.cliente}}</a></td>
      <td>{{reserva.creado|date:"Y-m-d"}}</td>
      <td class="estado-{{reserva.estado_pago.id}}">{{reserva.estado_pago}}</td>
			<td class="estado-{{reserva.estado.id}}">{{reserva.estado}}</td>
    </tr>
		{% endfor %}
	</table>
<nav>
  <ul class="pagination">
    {% if objs.has_previous %}
    <li>
      <a href="?page={{ objs.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">Anterior</span>
      </a>
    </li>
    {% endif %}
    {% for item in objs.paginator.page_range %}
    {% ifequal item objs.number %}
      <li  class="active"><a href="?page={{ item }}" >{{item }}</a></li>
    {% else %}
      <li ><a href="?page={{ item }}" >{{item }}</a></li>
    {% endifequal %}
    {% endfor %}
    {% if objs.has_next %}
    <li>
      <a href="?page={{ objs.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">Siguiente</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{%else%}
<div class="alert alert-danger">
  Reservas no encontradas
</div>
{% endif %}
{% endblock%}