{% extends "layout/base_admin.html" %}
{% block title %}Reserva - {{obj.paquete}}{% endblock %}
{% block content %}
<table class="table table-striped">
    <tr>
        <td width="180"><b>Precio(s):</b></td>
        <td><b>Original:</b> {{obj.precio}} <b>Adelanto:</b> {{obj.pre_pago}}</td>
    </tr>
    <tr>
        <td><b>Fecha Viaje:</b></td>
        <td>{{obj.fecha_viaje}}</td>
    </tr>
    <tr>
        <td><b>tx:</b></td>
        <td>{{obj.tx}}</td>
    </tr>
    <tr>
        <td><b>Fecha de Pago:</b></td>
        <td>{{obj.fecha_pago}}</td>
    </tr>
    <tr>
        <td><b>Forma de pago:</b></td>
        <td>
            {{obj.forma_pago}}
            <a href="/reservar/pagar/{{obj.id}}{{obj.empresa.code}}">Pagar</a>
        </td>
    </tr>
    <tr>
        <td><b>Estado de Pago:</b></td>
        <td>{{ obj.estado_pago }}</td>
    </tr>
    <tr>
        <td><b>Estado de Reserva:</b></td>
        <td>{{ obj.estado }}</td>
    </tr>
    <tr>
        <td><b>Creado:</b></td>
        <td>{{obj.creado}}</td>
    </tr>
    <tr>
        <td><b>Cliente:</b></td>
        <td><a href="/empresa/cliente/detail/{{obj.cliente.id}}">{{obj.cliente}}</a></td>
    </tr>
</table>
<a name="viajeros"></a>
<h2>Pasajeros</h2>
<table class="table">
    <tr>
        <th>Nro</th>
        <th>Apellidos y Nombres </th>
        <th>Documento</th>
        <th>E-mail</th>
        <th>Pais</th>
    </tr>
{% for pasajero in obj.pasajeros.all %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="/empresa/pasajero/detail/{{pasajero.id}}"><b>{{persona.apellidos}} </b> {{pasajero.nombre}}</a></td>
        <td>{{pasajero.get_doc_tipo_display}} <b>{{pasajero.doc_nro}}</b></td>
        <td>{{pasajero.email}}</td>
        <td>{{pasajero.pais}}</td>
    </tr>
{% endfor %}
</table>

<p>
    <a href="/pdf/books/{{obj.id}}-reserve-{{obj.fecha_viaje|date:"Y-m-d"}}.pdf" class="btn btn-default">  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> PDF</a>
    <a href="javascript:print()" class="btn btn-default" ><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimir</a>
     </p>
{% endblock%}