{% extends "layout/base_admin.html" %}
{% block title %}DETALLE RESERVA{% endblock %}
{% block content %}
<table class="table table-striped">
    <tr>
        <td width="160"><b>ID:</b></td>
        <td>{{obj.id}}</td>
    </tr>
    <tr>
        <td><b>Precio(s):</b></td>
        <td><b>Original:</b> {{obj.precio}} <b>Adelanto:</b> {{obj.pre_pago}}</td>
    </tr>
    <tr>
        <td><b>tx:</b></td>
        <td>{{obj.tx}}</td>
    </tr>
    <tr>
        <td><b>Fecha Viaje:</b></td>
        <td>{{obj.fecha_viaje}}</td>
    </tr>
    <tr>
        <td><b>Modalidad de pago:</b></td>
        <td>
            {{obj.get_modo_pago_display}}
            <a href="/reservar/pagar/{{obj.id}}">Pagar</a>
        </td>
    </tr>
    <tr>
        <td><b>Estado:</b></td>
        <td>{{ obj.get_pago_estado_display }}</td>
    </tr>
    <tr>
        <td><b>creado:</b></td>
        <td>{{obj.creado}}</td>
    </tr>
</table>
<a name="viajeros"></a>
<h2>Viajeros</h2>
<table class="table">
    <tr>
        <th>Nro</th>
        <th>Apellidos y Nombres </th>
        <th>Documento</th>
        <th>E-mail</th>
        <th>Pais</th>
    </tr>
{% for persona in obj.viajeros.all %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="/empresa/persona/detail/{{persona.id}}"><b>{{persona.apellidos}} </b> {{persona.nombre}}</a></td>
        <td>{{persona.get_doc_tipo_display}} <b>{{persona.doc_nro}}</b></td>
        <td>{{persona.email}}</td>
        <td>{{persona.pais}}</td>
    </tr>
{% endfor %}
</table>
<p><a href="/empresa/paquete/edit/{{obj.id}}" class="btn btn-primary">Editar</a> </p>
{% endblock%}