{% extends "layout/base_admin.html" %}
{% block title %}RESERVAS{% endblock %}
{% block content %}
	<table class="table table-bordered table-condesed table-hover">
      <tr>
        <th>Id</th>
        <th>Fecha Viaje</th>
        <th>Falta</th>
        <th>Paquete</th>
        <th>Cantidad Personas</th>
        <th>Usuario</th>
        <th>Creado</th>
        <th>Estado</th>
        <th>Detalle</th>
    </tr>
		{% for reserva in objs %}
			<tr>
            <td><a href="/empresa/reserva/detail/{{reserva.id}}">{{reserva.id}}</a></td>
            <td>{{reserva.fecha_viaje}}</td>
      			<td>{{reserva.fecha_viaje|timeuntil}}</td>
      			<td><a href="/empresa/paquete/detail/{{reserva.paquete.id}}">{{reserva.paquete}}</a></td>
      			<td>{{reserva.cantidad_personas}}</td>
      			<td>{{reserva.user}}</td>
            <td>{{reserva.creado}}</td>
      			<td>{{reserva.pago_estado}}</td>
      		</tr>
		{% endfor %}
	</table>
{% endblock%}