{% extends "layout/base_admin.html" %}
{% block title %}Reservas{% endblock %}
{% block content %}
	<table class="table table-bordered table-condesed table-hover">
      <tr>
        <th>Nro.</th>
        <th>Fecha de Viaje</th>
        <th>Falta</th>
        <th>Paquete</th>
        <th>Viajeros</th>
        <th>Email</th>
        <th>Creado</th>
        <th>Estado</th>
    </tr>
		{% for reserva in objs %}
    <tr>
      <td><a href="/empresa/reserva/detail/{{reserva.id}}">{{reserva.id}}</a></td>
      <td>{{reserva.fecha_viaje|date:"Y-m-d"}}</td>
			<td>{{reserva.fecha_viaje|timeuntil}}</td>
			<td><a href="/empresa/paquete/detail/{{reserva.paquete.id}}">{{reserva.paquete}}</a></td>
			<td><a href="/empresa/reserva/detail/{{reserva.id}}#viajeros">{{reserva.cantidad_personas}}</a></td>
			<td>{{reserva.email}}</td>
      <td>{{reserva.creado|date:"Y-m-d"}}</td>
			<td>{{reserva.get_pago_estado_display}}</td>
    </tr>
		{% endfor %}
	</table>
<nav>
  <ul class="pagination">
    {% if objs.has_previous %}
    <li>
      <a href="?page={{ objs.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">Anterior</span>
      </a>
    </li>
    {% endif %}
    {% for item in objs.paginator.page_range %}
    {% ifequal item objs.number %}
      <li  class="active"><a href="?page={{ item }}" >{{item }}</a></li>
    {% else %}
      <li ><a href="?page={{ item }}" >{{item }}</a></li>
    {% endifequal %}
    {% endfor %}
    {% if objs.has_next %}
    <li>
      <a href="?page={{ objs.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">Siguiente</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock%}