{% extends "layout/base.html" %}
{% block title %}Información de la Empresa{% endblock %}
{% block content %}

<script type="text/javascript">
    $(function(){
        $("#id_web").change(function() {
            valor = $("#id_web").val();
            var valido=valor.substring(0,4);
            if(valido!="http"){
                var hh = "http://";
                $("#id_web").val(hh+valor);
            }
        });
    });
    $(function(){
        $("#id_razon_social").change(function() {
            valor = $("#id_razon_social").val();
            var razon = valor.substring(0,3);
            $("#id_abreviatura").val(razon.toUpperCase());
        });
    });
    $(function(){
        $("#id_abreviatura").change(function() {
            valor = $("#id_abreviatura").val();
            $("#id_abreviatura").val(valor.toUpperCase());
        });
    });
</script>
{% load bootstrap %}
<div class="row">
    <div class="col-lg-8">
        <form action="" method="POST" enctype='multipart/form-data'>
            {%csrf_token%}
            {{formAgregar|bootstrap_horizontal}}
            <p>
            <button type='submit' value='Guardar Empresa' class="btn btn-primary">Guardar Empresa</button>
            <button type= "reset"class="btn btn-primary"> Limpiar</button></p>
        </form>
    </div>
</div>
<p><a href="/user/logout">Cerrar Sesión</a></p>
{% endblock%}