{% extends "layout/base_admin.html"%}
{% block title %}Detalle de reserva{% endblock %}
{% block content %}
<p><b>Paquete: </b> {{ paquete.nombre }}</p>
<p><b>Precio : </b>$ {{ paquete.precio }}</p>
<p><b>Cantidad Personas: </b>{{ cantidad_personas }}</p>
<p><b>Monto total: </b>$ {{ monto }} </p>
<p><b>Fecha de viaje: </b>{{ fecha_viaje}} </p>
<form action="paypal">
	<!-- Todos los campos ocultos para enviar a paypal -->
	<label>Correo: </label>
	<input type="email" value="">
	<br>
	<input type="submit" value="Pagar">
</form>
{% endblock %}
