{% extends "layout/base_admin.html"%}
{% block title %}{{ obj.razon_social }}{% endblock %}
{% block content %}
<p><b>Rubro:</b> {{obj.rubro }}</p>
<p><b>ID:</b> {{obj.id }}</p>
<p><b>RUC: </b>{{obj.ruc}}</p>
<p><b>Dirección: </b>{{obj.direccion}}</p>
<p><b>WEB: </b><a href="{{ obj.web}}" target="_blanck">{{ obj.web}}</a></p>
<hr>
<p><b>Información de Paypal</b> (<a href="#">editar</a>)</p>
<p><b>Abreviatura:</b> {{obj.abreviatura }}</p>
<p><b>E-mail: </b>{{ obj.paypal_email}}</a></p>
<p><b>Identity Token (at): </b>{{ obj.paypal_at}}</a></p>
<hr>
{% endblock %}
