{% extends "layout/base_pagos.html" %}
{% block menu %}
    <li><a href="#">1. Products</a></li>
    <li><a href="#">2. Passangers</a></li>
    <li><a href="#" class="active">3. Payments</a></li>
    <li><a href="#">4. Confirm</a></li>
{% endblock %}
{% block content %}
<table>
    <tr>
        <td width="400">
            <p>PAY WITH PAYPAL</p>
            <p><b>Tour:</b> {{ reserve.item_name }}</p>
            <p><b>Total Tour Price:</b> {{ reserve.precio|safe }}</p>
            <p><b>Price To Book:</b> {{ reserve.amount|safe }}</p>
            <p><b>Number Of Passengers:</b> {{ reserve.quantity }}</p>
            <p><b>Price To Pay:</b> {{ reserve.amount|safe }}</p>
        </td>
        <td>
            <form action="{{ paypal.paypal_url }}" method="post" accept-charset="utf-8">
                {%csrf_token%}
                <input type="hidden" name="cmd" value="_xclick" />
                <input type="hidden" name="charset" value="utf-8" />
                <input type="hidden" name="business" value="{{ acount.business }}" />
                <input type="hidden" name="item_name" value="{{ reserve.item_name }}" />
                <input type="hidden" name="item_number" value="{{ reserve.item_number }}" />
                <input type="hidden" name="quantity" value="{{ reserve.quantity }}" />
                <input type="hidden" name="amount" value="{{ reserve.amount|safe }}" />
                <input type="hidden" name="currency_code" value="{{ reserve.currency_code }}" />
                <input type="hidden" name="return" value="{{ paypal.return_url }}" />
                <input type="hidden" name="cancel_return" value="{{ paypal.cancel_url }}" />
                <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_paynowCC_LG.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!" />
            </form>
        </td>
    </tr>
</table>
{% endblock %}
