{% extends "layout/base_pagos.html" %}
{% block menu %}
    <li><a href="#">1. Products</a></li>
    <li><a href="#" class="active">2. Passangers</a></li>
    <li><a href="#">3. Payments</a></li>
    <li><a href="#">4. Confirm</a></li>
{% endblock %}
{% block content %}
<p><b>Paquete: </b> {{reserva.paquete}}</p>
<p><b>id Reserva : </b>{{ reserva.id }}</p>
<p><b>Cantidad Personas: </b>{{ reserva.cantidad_personas }}</p>
<p><b>Fecha de viaje: </b>{{ reserva.fecha_viaje}} </p>
<form action='/reservar/dato.html' method="post">{%csrf_token%}
<table border="1" class="table table-bordered table-condesed table-hover">
    <tr>
        <th>DocTipo</th>
        <th>DocNro</th>
        <th>Apellidos y Nombres</th>
        <th>Nacionalidad</th>
    </tr>
    <tr>
        <td>DNI</td>
        <td>43057897</td>
        <td><b>Huameni Mendoza,</b> Juan Eracleo</td>
        <td>Peru</td>
    </tr>
    <tr>
        <td>DNI</td>
        <td>43057897</td>
        <td><b>Huameni Mendoza</b>, Juan Eracleo</td>
        <td>Peru</td>
    </tr>
</table>
    <!-- Todos los campos ocultos para enviar a paypal -->
    <p><input type="submit" value="guardar" class="btn btn-primary"></p>
</form>
<div id="mensaje" class="alert alert-success" style="display:none">Persona Agregado</div>
<div class="addPersona">
    <p> TipoDoc<input type="text" class="doc_tipo" value="di" size="2">
        NroDoc <input type="text" class="doc_nro" name="doc_nro" size="5">
        Nombre <input type="text" class="nombre" name="nombre" size="15">
        Apellidos<input type="text" class="apellidos" name="apellidos" size="15">
        Pais <input type="text" class="pais" value="pe" size="5">
        <input type="button" class="agregar" value="ADD"></p>
</div>
<script type="text/javascript">
$( document ).ready(function() {
   $(".agregar").click(function()
   {
        doc_tipo = $(".doc_tipo").val();
        doc_nro = $(".doc_nro").val();
        nombre = $(".nombre").val();
        apellidos = $(".apellidos").val();
        pais = $(".pais").val();
        setPersona(doc_tipo,doc_nro,nombre,apellidos, pais)
        // Validar los datos
        $("#mensaje").show();
        $("#mensaje").hide('blind', {}, 500);
   })
});
function setPersona(doc_tipo,doc_nro,nombre,apellidos, pais)
{
    /*
    v = $("#id_viajeros").html();
    $.get('/reservar/set_persona', {doc_tipo:doc_tipo,doc_nro:doc_nro,nombre:nombre, apellidos:apellidos, pais:pais}, function(data){
               $('#id_viajeros').html(v+data);
    });}
    */
}
</script>
{% endblock %}
