{% extends "layout/base_pagos.html" %}
{% block menu %}
    <li><a href="#">1. Products</a></li>
    <li><a href="#" class="active">2. Passangers</a></li>
    <li><a href="#">3. Payments</a></li>
    <li><a href="#">4. Confirm</a></li>
{% endblock %}
{% block content %}
<html>
<head>
    {% load static %}
    <title></title>

   <script type="text/javascript">
        function valida(f) {
            var ok = true;
            var msg = "Falta llenar el contenido en los siguientes campos:\n";
            var numero=0;
            var nombre="";
            for (var i = 0; i <= f.elements.length-2; i++) {
                        
                if(f.elements[i].value == "")
                {  
                    numero=i+1;
                    nombre="valor de: "+f.elements[i].name+"\n";
                    var res = nombre.substring(17, nombre.length-1);
                    msg += res+"\n";
                    ok = false;                    
                }
            };
                        
            if(ok == false)
                            
                alert(msg);
            return ok;
          
        }

        $(function(){
        $("#id_paquete").ready(function() {
            $("#id_paquete").val("1");
            var campo = document.getElementById('id_paquete');
            campo.readOnly=true;
        });
    }); 


    </script>
</head>
<body>
<!--<form id="miFormulario" action="/reservar/agregara/" method="post" class="" onsubmit="return valida(this)">-->
<form id="miFormulario" action="" method="post" onsubmit="return valida(this)">
{% csrf_token %}
<h2> Reservar:</h2>

<input type="hidden" name="form-TOTAL_FORMS" value="1" id="id_form-TOTAL_FORMS" />
<input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS" />
<input type="hidden" name="form-MAX_NUM_FORMS" value="3" id="id_form-MAX_NUM_FORMS" />

<input type="hidden" name="paquete_id" value="{{paquete_id}}" id="paquete_id" />
<input type="hidden" name="id_monto" value="{{monto}}" id="monto" />
<input type="hidden" name="cantidad" value="{{cantidad_personas}}" id="cantidad" />
<input type="hidden" name="fecha" value="{{fecha_viaje}}" id="cantidad" /> 
{% for field in form %}
  {{ field.errors }}
  {{ field.label_tag }}  {{ field }}
{% endfor %}

{{ form.viajeros.management_form }}

<h3> Persona Instance(s)</h3>
<table width = "1000px" > 
  <thead>
      <tr>
        
      </tr>
    </thead>
    <tbody>
      {% for f in form.viajeros_instances %}
      {{ f.as_p }}
      <hr>
      {% endfor%}

    </tbody>
</table>
<input type="submit" name="submit" class="btn btn-warning" value="Save"/>
</form>

</body>
</html>
{% endblock %}