{% extends "layout/base.html"%}
{% block title %}Detalle de reserva{% endblock %}
{% block content %}

{% for icon in range %}
<!--{{icon}}:-->
<p><b>Tipo de documento: </b><input type="text" value=""></p>
<p><b>Nro de Docuemto: </b><input type="text" value=""> </p>
<p><b>Nombre: </b><input type="text" value=""></p>
<p><b>Apellidos: </b><input type="text" value=""></p>
<p><b>Pais: </b>
    <select name="pais">
    {% for pais in paises %} 
        <option value="{{ pais.id }}" >{{ pais.nombre }}</option> 
    {% endfor %}
</select>

</p>
<form action='paypal'>
	<!-- Todos los campos ocultos para enviar a paypal -->
	<label>Email: </label>
	<input type="email" value="">
	<br>
	<input type="submit" value="Pagar">
</form>
{% endfor %}
{% endblock %}