{% extends "layout/base_pagos.html" %}
{% block menu %}
    <li class="active">1. Products</li>
    <li>2. Passangers</li>
    <li>3. Payments</li>
    <li>4. Confirm</li>
{% endblock %}
{% block content %}
<script src="http://127.0.0.1:8000/assets/js/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(function(){
        $("#id_cantidad").change(function() {
            pre = parseInt($("#id_precio").val());
            cant = $("#id_cantidad").val();
            $("#id_monto").val(pre*cant);
            $("#monto").text(pre*cant);
        });
    });

    $(function() {
        $( "#fecha" ).datepicker({ dateFormat: "yy-mm-dd" ,minDate: 0 ,beforeShow: function() {
        setTimeout(function(){
            $('.ui-datepicker').css('z-index', 9999);
        }, 0);
    }});
  });
</script>

<form action="/reservar/pasajeros/" method="post">{%csrf_token%}
    <!-- campos ocultos -->
    <input id="id_paquete" name="paquete_id" type="hidden" value="{{paquete.id}}"></input>
    <input id="id_precio" type="hidden" value="{{paquete.pre_pago}}" readonly="readonly"></input>


    <div class="row">
        <div class="col-sm-4">
            <label>E-mail: </label>
            <input type="text" value="" id="email" name="email" placeholder="micorreo@gmail.com" pattern="[a-zA-Z0-9.+_-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9.-]+" title="Mail must have the following format: micorreo@gmail.com"  required class="form-control"/>
        </div>
        <div class="col-sm-4"> </div>
        <div class="col-sm-2">
            <p><b>Date of travel: </b></p>
            <input id="fecha" name="fecha" type="text" value="" pattern="(19|20)\d\d[- -.](0[1-9]|1[012])[- -.](0[1-9]|[12][0-9]|3[01])" title="The date must be in the format: yyyy-mm-dd" placeholder="yyyy-mm-dd" /
    required class="form-control"/>
        </div>
        <div class="col-sm-2">
            <p><label for="id_cantidad">N° Passengers:</label></p>
            <input id="id_cantidad" type="number" name="cantidad" min="1" max="20" value="0"  required class="form-control"/></input>
        </div>
    </div><br>
        <div class="linea"></div>
    <div class="row">
          <div class="col-sm-6 texto-titulo">Producto</div>
          <div class="col-sm-3 tr texto-titulo">Pre Pago</div>
          <div class="col-sm-3 tr texto-titulo">Total price</div>
        </div>
        <div class="row">
          <div class="col-sm-6 producto">{{paquete.nombre}}</div>
          <div class="col-sm-3 precio tr">US$ {{ paquete.precio }}</div>
          <div class="col-sm-3 precio tr">US$ <span id="monto" class="monto">0.00</span></div>
        </div>
    <p> <input id="id_monto" name="id_monto" type="hidden" value="" readonly="readonly"class="form-control"></input></p>

    <div class="tr">
    <button type="submit" class="btn btn-default btn-negotu">Next</button>
    </div>
</form>
{% endblock %}