<!doctype html>
<html>
    <head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />}
    <meta name="googlebot" content="noindex">
    <meta name="robots" content="noindex">
    <link rel="icon" href="/favicon.ico">
    <title>{% block page_title %}Pago con Paypal{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/jquery-v1.min.js' %}"></script>
    <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
    <script type="text/javascript">
    if(history.forward(1))
    {
        location.replace(history.forward(0))
    }
    </script>
    </head>

    <body>
      <div id="page">
        <div id="header">
            <div class="logoizq"><img src="{{ logo }}" height="60px"></div>
            <div class="logoder"><a href="/"><IMG SRC="{% static 'images/power.png' %}"></a></div>
        </div>
        <div id="wrapper">
          <div id="menu">
            <ul>
                {% block menu %}
                <li><a href="#">1. Products</a></li>
                <li><a href="#">2. Passangers</a></li>
                <li><a href="#">3. Payments</a></li>
                <li><a href="#">4. Confirm</a></li>
                {%endblock%}
            </ul>
          </div>
          <div id="contenido">
            {% if messages %}
            <div class="messages">
              {% for msg in messages %}
                  <div class="alert alert-{{msg.level_tag}}" role="alert">{{msg.message}}</div>
              {% endfor %}
            </div>
            {% endif %}
            {% block content %}
            <p>Aqui contenido</p>
            {% endblock %}
          </div>
        </div>
        <div id="footer"><!-- Aquí vendría el código del pié --></div>
      </div>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    </body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61651439-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
