{% extends "layout/base.html" %}
{% block title %}
Listar Paquetes
{% endblock %}

{% block content %}
	
	<table border="1">
      <tr>
                        <td><b>Nombre</b></td> 
                        <td><b>Precio</b></td> 
                        <td><b>Descripcion</b></td>  
                        <td><b>Usuario</b></td>  
                        <td><b>Estado</b></td>
                        <td><b>Creado por</b></td>
                        <td><b>Desactivar Paquete</b></td>
                        <td><b>Editar Paquete</b></td>

                  </tr>
		{% for paquete in paquetes %}
			<tr>
      			<td>{{paquete.nombre}}</td>
      			<td>{{paquete.precio}}</td>   
      			<td>{{paquete.descripcion}}</td> 
      			<td>{{paquete.user}}</td>  
      			<td>{{paquete.estado}}</td> 
      			<td>{{paquete.creado}}</td>
                {% ifequal paquete.estado True %}	
      			   <td><input name="cbdesac" type="checkbox"/>Desactivar</td>
                    {% else %}
                        <td><input name="cbdesac" type="checkbox"/>Activar</td>
                {% endifequal %}
                {%if user.is_authenticated%}
      			<td><a href="editar_paquetes/{{paquete.id}}">Editar<a/></td>	
                {% endif %}
      		</tr>      		     									
		{% endfor %}
	</table>
      <br>
      <button name="Submit" value="Submit" type="Submit">Guardar</button>
{% endblock%}
